/* START: Original (except where specified) */
.container {
    padding-top: 50px;
    padding-bottom: 20px;

    /*  Added jss */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container-content {
    padding-left: 15px;
    padding-right: 15px;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}
  
.table td {
  cursor: pointer;
  position: relative;
  left: 0;
  /*background-color: #EEE; */
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
  
.table td.selected:hover {
  background-color: #BBD8DC !important; /* #BBD8DC */
  color: white;
}

.table td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;             /* td would move to the right by 0.1em */
}

.text {
  position: relative;
  top: -3px;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphiconplus::before {
  content: "+";       /* "\002b" */
}
.glyphiconminus::before {
  content: "-";       /* "\2212" */
}

/* Tooltip container for glyphicon-check */
.glyphicon-check {
position: relative;
display: inline-block;
/* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
} 

/* Tooltip text */
.glyphicon-check .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.glyphicon-check .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.glyphicon-check:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.glyphicon-trash {
position: relative;
display: inline-block;
/* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text for glyphicon-trash */
.glyphicon-trash .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.glyphicon-trash .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.glyphicon-trash:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  
/* Added */
/*
table {
  border-spacing: 0;
  border-collapse: collapse;
}*/
.table thead {
  display: tableheader-group;
}
.table {
  border-spacing: 0;
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff !important;
}
.tablebordered th,
.tablebordered td {
  border: 1px solid #ddd !important;
}
.table table {
  background-color: transparent;
}
.table th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.tablecondensed > thead > tr > th,
.tablecondensed > tbody > tr > th,
.tablecondensed > tfoot > tr > th,
.tablecondensed > thead > tr > td,
.tablecondensed > tbody > tr > td,
.tablecondensed > tfoot > tr > td {
  padding: 5px;
}
.tablebordered {
  border: 1px solid #ddd;
}
.tablebordered > thead > tr > th,
.tablebordered > tbody > tr > th,
.tablebordered > tfoot > tr > th,
.tablebordered > thead > tr > td,
.tablebordered > tbody > tr > td,
.tablebordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.tablebordered > thead > tr > th,
.tablebordered > thead > tr > td {
  border-bottom-width: 2px;
}
.tablestriped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.tablehover > tbody > tr:hover {
  background-color: #f5f5f5;
}
.table table col[class*="col-"] {
  position: static;
  display: tablecolumn;
  float: none;
}
.table table td[class*="col-"],
.table table th[class*="col-"] {
  position: static;
  display: tablecell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.tablehover > tbody > tr > td.active:hover,
.tablehover > tbody > tr > th.active:hover,
.tablehover > tbody > tr.active:hover > td,
.tablehover > tbody > tr:hover > .active,
.tablehover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.tablehover > tbody > tr > td.success:hover,
.tablehover > tbody > tr > th.success:hover,
.tablehover > tbody > tr.success:hover > td,
.tablehover > tbody > tr:hover > .success,
.tablehover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.tablehover > tbody > tr > td.info:hover,
.tablehover > tbody > tr > th.info:hover,
.tablehover > tbody > tr.info:hover > td,
.tablehover > tbody > tr:hover > .info,
.tablehover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.tablehover > tbody > tr > td.warning:hover,
.tablehover > tbody > tr > th.warning:hover,
.tablehover > tbody > tr.warning:hover > td,
.tablehover > tbody > tr:hover > .warning,
.tablehover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.tablehover > tbody > tr > td.danger:hover,
.tablehover > tbody > tr > th.danger:hover,
.tablehover > tbody > tr.danger:hover > td,
.tablehover > tbody > tr:hover > .danger,
.tablehover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.tableresponsive {
  min-height: .01%;
  overflow-x: auto;
}
.tablelight > thead > tr > th,
.tablelight > tbody > tr > th,
.tablelight > tfoot > tr > th,
.tablelight > thead > tr > td,
.tablelight > tbody > tr > td,
.tablelight > tfoot > tr > td {
  line-height: 1 !important;
  font-size: x-small !important;
  vertical-align: top;
  font-weight:normal !important
} 

@media screen and (max-width: 767px) {
  .tableresponsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .tableresponsive > .table {
    margin-bottom: 0;
  }
  .tableresponsive > .table > thead > tr > th,
  .tableresponsive > .table > tbody > tr > th,
  .tableresponsive > .table > tfoot > tr > th,
  .tableresponsive > .table > thead > tr > td,
  .tableresponsive > .table > tbody > tr > td,
  .tableresponsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .tableresponsive > .tablebordered {
    border: 0;
  }
  .tableresponsive > .tablebordered > thead > tr > th:first-child,
  .tableresponsive > .tablebordered > tbody > tr > th:first-child,
  .tableresponsive > .tablebordered > tfoot > tr > th:first-child,
  .tableresponsive > .tablebordered > thead > tr > td:first-child,
  .tableresponsive > .tablebordered > tbody > tr > td:first-child,
  .tableresponsive > .tablebordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .tableresponsive > .tablebordered > thead > tr > th:last-child,
  .tableresponsive > .tablebordered > tbody > tr > th:last-child,
  .tableresponsive > .tablebordered > tfoot > tr > th:last-child,
  .tableresponsive > .tablebordered > thead > tr > td:last-child,
  .tableresponsive > .tablebordered > tbody > tr > td:last-child,
  .tableresponsive > .tablebordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .tableresponsive > .tablebordered > tbody > tr:last-child > th,
  .tableresponsive > .tablebordered > tfoot > tr:last-child > th,
  .tableresponsive > .tablebordered > tbody > tr:last-child > td,
  .tableresponsive > .tablebordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}